*{
    margin: 0;
}
body{
    background-color: #f0f0f0;
}
.logo {
    width: 105px;
    height: 105px;
}
.container-fluid {
    background-color: #f0f0f0;
}
.title-section {
    margin: 75px 30px 30px 30px;
}
h1{
    font-family: 'Anton', sans-serif;
    font-size: 120px;
    margin: 0;

}
h2{
    font-family: 'Anton', sans-serif;
    font-size: 75px;
    margin: 65px 50px 65px 50px;

}
.container{
    height: 100%;

}
.col{
    width: 204px;
    padding: 0;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    border: black solid 2px;
}
.row{
    /*height: 100%;*/
    /*width: 100%;*/
    margin: 100px;

}
.circle{
    border: 16px solid white;
    border-radius: 100%;
    color: white;
    height: 200px;
    width: 200px;
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pictures {
    /*display: flex;*/
    justify-content: center;
    align-items: center;

}

img {
    border: 10px solid #e6e6e6;
    width: 725px;
    height: 525px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
h3 {
    float: left;
    font-family: 'Abel', sans-serif;
}
li {
    display: inline-block;
    float: right;
}
.description {
    margin: 0 37px;
}
